// bower:scss
// endbower

html, 
body,
.stage {
  height: 100%;
}

html,
body {
  font-size: 16px;
  overflow: hidden;
}

body {
  background: #281A29;
  color: #fefefe;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.stage {
  display: table;
  width: 100%;
}

.stage__inner {
  display: table-cell;
  vertical-align: middle;
}

.stage__inner p {
  margin-top: 0;
}

.stage__keycode {
  font-size: 41.956vmin; // perfect fourth on modular scale
  line-height: 1;
  margin-bottom: 0;
  font-family: 'Old Standard TT', Georgia, Times, serif;
}

.stage__key,
.attribution {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; 
}

.stage__key {
  display: inline-block;
  margin: 0;
  padding: .317em .75em .422em;
  border: 1px solid;
  border-radius: 4px;
  color: #FF3C91;
  font-size: 1.777em;
  text-transform: lowercase;
}

.attribution {
  position: absolute;
  left: 0;
  bottom: 1em;
  width: 100%;
  font-size: 1.333em;
}

.attribution__text a {
  color: #FF3C91;
  font-weight: 700;
  text-decoration: none;
}

.attribution__text {
  margin: 0;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
